In [490]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

from sklearn.preprocessing import StandardScaler

In [491]:
df=pd.read_csv('HousePricePrediction.csv')
df.shape

(2919, 13)

In [492]:
df.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [493]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [494]:
##first lets remove the id column cause it dosen't add any value in the dataset

df=df.drop(columns=['Id'],axis=1)

In [495]:
df.head()

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [496]:
df.describe

<bound method NDFrame.describe of       MSSubClass MSZoning  LotArea LotConfig BldgType  OverallCond  YearBuilt  \
0             60       RL     8450    Inside     1Fam            5       2003
1             20       RL     9600       FR2     1Fam            8       1976
2             60       RL    11250    Inside     1Fam            5       2001
3             70       RL     9550    Corner     1Fam            5       1915
4             60       RL    14260       FR2     1Fam            5       2000
...          ...      ...      ...       ...      ...          ...        ...
2914         160       RM     1936    Inside    Twnhs            7       1970
2915         160       RM     1894    Inside   TwnhsE            5       1970
2916          20       RL    20000    Inside     1Fam            7       1960
2917          85       RL    10441    Inside     1Fam            5       1992
2918          60       RL     9627    Inside     1Fam            5       1993

      YearRemodAdd Exterior1st  BsmtFinSF2  TotalBsmtSF  SalePrice
0             2003     VinylSd         0.0        856.0   208500.0
1             1976     MetalSd         0.0       1262.0   181500.0
2             2002     VinylSd         0.0        920.0   223500.0
3             1970     Wd Sdng         0.0        756.0   140000.0
4             2000     VinylSd         0.0       1145.0   250000.0
...            ...         ...         ...          ...        ...
2914          1970     CemntBd         0.0        546.0        NaN
2915          1970     CemntBd         0.0        546.0        NaN
2916          1996     VinylSd         0.0       1224.0        NaN
2917          1992     HdBoard         0.0        912.0        NaN
2918          1994     HdBoard         0.0        996.0        NaN

[2919 rows x 12 columns]>

In [497]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSSubClass    2919 non-null   int64
 1   MSZoning      2915 non-null   object
 2   LotArea       2919 non-null   int64
 3   LotConfig     2919 non-null   object
 4   BldgType      2919 non-null   object
 5   OverallCond   2919 non-null   int64
 6   YearBuilt     2919 non-null   int64
 7   YearRemodAdd  2919 non-null   int64
 8   Exterior1st   2918 non-null   object
 9   BsmtFinSF2    2918 non-null   float64
 10  TotalBsmtSF   2918 non-null   float64
 11  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(5), object(4)
memory usage: 273.8+ KB

In [498]:
#4 missing value in a object column so i will replace those column with mode value

df['MSZoning']=df['MSZoning'].fillna(df.MSZoning.mode()[0])

In [499]:
df['MSZoning'].isnull().sum()

0

In [500]:
## 1 missing value in exterior first so we can also replace with mode
df['Exterior1st']=df['Exterior1st'].fillna(df.Exterior1st.mode()[0])

In [501]:
df['Exterior1st'].isnull().sum()

0

In [502]:
# now looking for duplicates column in the dataset
df.duplicated().value_counts()

False    2911
True        8
Name: count, dtype: int64

In [503]:
#3i found 8 duplicate rows so i will see those rows first then delete those rows
df[df.duplicated()]

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
1858,90,RL,7018,Inside,Duplex,5,1979,1979,HdBoard,0.0,0.0,NaN
1961,160,RM,1680,Inside,Twnhs,5,1973,1973,HdBoard,0.0,483.0,NaN
1982,120,RL,6240,Inside,TwnhsE,5,2006,2007,MetalSd,0.0,1342.0,NaN
2220,120,RM,3843,Inside,TwnhsE,5,2007,2008,CemntBd,0.0,1596.0,NaN
2369,160,FV,2280,Inside,Twnhs,5,1999,1999,MetalSd,0.0,744.0,NaN
2714,160,FV,2998,Inside,TwnhsE,5,2000,2000,MetalSd,0.0,756.0,NaN
2853,120,RM,4435,Inside,TwnhsE,5,2003,2003,VinylSd,0.0,848.0,NaN
2864,180,RM,3675,Inside,TwnhsE,5,2005,2006,VinylSd,0.0,547.0,NaN

In [504]:
# I will remove the dUplicates column in dataset
df=df.drop_duplicates(keep='first')

In [505]:
df.duplicated().value_counts()

False    2911
Name: count, dtype: int64

In [506]:
df.isnull().sum()

MSSubClass         0
MSZoning           0
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        0
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1451
dtype: int64

In [507]:
#now i will drop 1 missing value in column BsmtFinSF2 and also in column BsmtFinSF2 where ever its found i will 
# drop that rows
# Drop rows with missing values in 'BsmtFinSF2' column
df.dropna(subset=['BsmtFinSF2'], inplace=True)

# Drop rows with missing values in 'TotalBsmtSF' column
df.dropna(subset=['TotalBsmtSF'], inplace=True)

C:\Users\akumar17\AppData\Local\Temp\ipykernel_10072\869867774.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['BsmtFinSF2'], inplace=True)
C:\Users\akumar17\AppData\Local\Temp\ipykernel_10072\869867774.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['TotalBsmtSF'], inplace=True)

In [508]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotArea', 'LotConfig', 'BldgType',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'Exterior1st', 'BsmtFinSF2',
       'TotalBsmtSF', 'SalePrice'],
      dtype='object')

In [509]:
df.isnull().sum()

MSSubClass         0
MSZoning           0
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        0
BsmtFinSF2         0
TotalBsmtSF        0
SalePrice       1450
dtype: int64

In [511]:
df.head()

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [512]:
# now i have to delete the column having salePrice as empty

#df.dropna(subset=['SalePrice'],inplace=True)

df['SalePrice']=df['SalePrice'].fillna(df.SalePrice.mean())

C:\Users\akumar17\AppData\Local\Temp\ipykernel_10072\2841596822.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SalePrice']=df['SalePrice'].fillna(df.SalePrice.mean())

In [513]:
df.shape

(2910, 12)

In [514]:
## I need to please tell me where can i use linear regression or decision tree or svm in my machine learning dataset please explain where to choose which algorithm

## data cleaning partdone moding part

In [515]:
# looking for unique value in each column

df.nunique()

MSSubClass        16
MSZoning           5
LotArea         1950
LotConfig          5
BldgType           5
OverallCond        9
YearBuilt        118
YearRemodAdd      61
Exterior1st       15
BsmtFinSF2       272
TotalBsmtSF     1058
SalePrice        664
dtype: int64

In [516]:
##columns having less unique value dosen't add much in the model so its better to discard them 

df.drop(columns=['MSZoning','LotConfig','BldgType','OverallCond'],inplace=True)

C:\Users\akumar17\AppData\Local\Temp\ipykernel_10072\2916486504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['MSZoning','LotConfig','BldgType','OverallCond'],inplace=True)

## Models

In [517]:
##convert categirical varable to numericallebel encoder

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

## writing fuction for object type column in dataset
l=[]
for col in df.columns:
    if df[col].dtypes=='object':
        
        l.append(col)

In [518]:
##applying onehotencoder on the datasetcolumn dataset

for col in l: 
    df[col]=le.fit_transform(df[col])

C:\Users\akumar17\AppData\Local\Temp\ipykernel_10072\534599896.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])

In [519]:
df.head()

,MSSubClass,LotArea,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,8450,2003,2003,12,0.0,856.0,208500.0
1,20,9600,1976,1976,8,0.0,1262.0,181500.0
2,60,11250,2001,2002,12,0.0,920.0,223500.0
3,70,9550,1915,1970,13,0.0,756.0,140000.0
4,60,14260,2000,2000,12,0.0,1145.0,250000.0

In [520]:
#normalization

sc=StandardScaler()

X=df.drop(['SalePrice'],axis=1)
Y=df['SalePrice']

In [521]:
X.shape

(2910, 7)

In [522]:
# normalizing the data



X=sc.fit_transform(X)

In [527]:
X_train,X_test=X[:2000],X[2000:]
y_train,y_test=Y[:2000],Y[2000:]

In [528]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(2000, 7) (2000,)
(910, 7) (910,)

# Applying ML Models

In [529]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.linear_model import LinearRegression, Lasso, Ridge 
from sklearn.ensemble import RandomForestRegressor 
from sklearn.metrics import mean_absolute_percentage_error,r2_score

In [530]:
lr=LinearRegression()
lr.fit(X_train,y_train)
lr_predict=lr.predict(X_test)

In [531]:
print(mean_absolute_percentage_error(y_test, lr_predict))

0.18618792566038816

In [534]:
print(r2_score(lr_predict,y_test))

-0.013459185735129164

In [565]:
from sklearn import svm
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_percentage_error
 
model_SVR = svm.SVR()
model_SVR.fit(X_train,y_train)
Y_pred = model_SVR.predict(X_test)
 
print(mean_absolute_percentage_error(y_test, Y_pred))

#print(r2_score(y_test, Y_pred))

0.0006214954911711112

In [544]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
X, y = make_regression(
                       random_state=0, shuffle=False)
regr = RandomForestRegressor(max_depth=20, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, random_state=0)

In [545]:
r_predict=regr.predict(X_test)

In [559]:
#print(r2_score(r_predict, y_test))

print(mean_absolute_percentage_error(r_predict, y_test))

0.224411801023293

In [560]:
print(r_predict[:10])

[233159.05546575 216838.80938699 224491.37099486 238391.69668037
 217367.16505479 188413.91517386 193543.96206849 179895.57134247
 169653.0289726  182760.82653425]